<div class="w-full h-full flex justify-center items-center">
    <p>
        Website made by Ivan for educational purposes. You can see the source
        code of the site on <a
            href="https://github.com/Iv44n/tune"
            target="_blank"
            rel="noopener noreferrer"
            class="text-blue-600 font-medium">Github</a
        >
    </p>
</div>
